{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Top Trends</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'bulletins/main.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: #d8ebe4;">
        <div>
            {% include 'sidebar.html' %}
        </div>
        <div class="container" id="articles-container">
            {% for value in data %}
                <div class="card mb-3 box" style="max-width: 940px; margin:auto;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{value.url}}" target="_blanck">{{value.title}}</a>
                                </h5>
                                <p class="card-text">{{value.description}}</p>
                                <p class="card-text">
                                    <small class="text-muted">{{value.publishedat}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 img-box">
                            <img src="{{value.image}}" class="card-img" alt="..." height="100%">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3 id="loading">Loading...</h3>
    </body>
    <script>
        $(document).ready(function() {
            console.log( "ready!" );
            el = document.getElementsByClassName("text-muted")
            for (i = 0; i < el.length; i++) {
                t = document.getElementsByClassName("text-muted")[i].innerText
                var d = new Date(t)
                document.getElementsByClassName("text-muted")[i].innerText = d.toDateString()
            }
        });
        var page = 2;
        var window_scroll = true;
        var search = "{{ search }}";
        
        window.addEventListener('scroll', function(e) {
            // scroll check
            console.log("scroll check...")
            if(window_scroll){
                if((window.innerHeight + window.scrollY) >= (document.body.scrollHeight-200)){
                    window_scroll = false;
                    document.getElementById("loading").style.display = "block";
                    $.ajax({
                        url: '/next?page=' + page + '&search=' + search,
                        dataType: 'json',
                        success: function (data) {
                            if (data["success"]) {
                                articles = data["data"]
                                articles_html = ''
                                for (i = 0; i < articles.length; i++) {
                                    articles_html += ' \
                                    <div class="card mb-3 box" style="max-width: 640px; margin:auto;">\
                                        <div class="row">\
                                            <div class="col-md-8">\
                                                <div class="card-body">\
                                                    <h5 class="card-title"><a href="'+ articles[i]["url"] +'" target="_blanck">'+ articles[i]["title"] +'</a></h5>\
                                                    <p class="card-text">'+ articles[i]["description"] +'</p>\
                                                    <p class="card-text"><small class="text-muted">'+ articles[i]["publishedat"] +'</small></p>\
                                                </div>\
                                            </div>\
                                                    \
                                            <div class="col-md-4 img-box">\
                                                <img src="'+ articles[i]["image"] +'" class="card-img" alt="..." height="100%">\
                                            </div>\
                                        </div>\
                                    </div>\
                                    '
                                }
                                $("#articles-container").append(articles_html);
                                page += 1
                                window_scroll = true;
                                document.getElementById("loading").style.display = "none";
                            }
                            else {
                                console.log("Failed")
                                window_scroll = true;
                                document.getElementById("loading").style.display = "none";
                            }
                        }
                    });
                }
            }
        })
    </script>
</html>